* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
video::-webkit-media-controls {
  /* visibility: hidden; */
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
body {
  overflow: auto;
  font-family: "Proxima Nova", "Inter";
}
.container {
  /* background-image: url("paper.gif"); */
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.bg {
  width: 100%;
  height: 90vh;
  background-color: #e13331;

  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sub-container {
  padding: 40px 0;
  padding-bottom: 0;

  flex-direction: column;
  row-gap: 20px;
}
.sub-container-div {
  width: 90%;
  margin: auto;
}

.logo > img {
  width: 12vh;
  height: 10vh;
  width: 238px;
  height: 207px;
}

.button {
  background-color: red;
}

.heading-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 15vh;
}
.heading-container > h1 {
  width: 514px;
  font-size: 2.2rem;
  line-height: 1.4;
  color: #ffffff;
}
/* section */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 1vh; */
}
.tablet {
  width: 85vh;
  height: 50vh;
}

/* form */
.form-container {
  background-color: #ffffff;

  z-index: 1;

  box-shadow: inset 0px 3px 6px #00000029, 10px 10px 10px #00000029;
  opacity: 0.84;
  margin-right: 2rem;
  /* padding: 20px; */
}
.form {
  width: 475px;
  height: 40vh;
  display: grid;
  place-items: center;
  padding: 20px;
  padding-bottom: 10px;
}
.form > input {
  width: 90%;
  height: 50px;
  text-align: center;
  border: 1px solid #707070;
  color: #888282;
  font-weight: 400;
  font-size: 16px;
}
.submit-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.submit-btn {
  border: none;
  background: #e13431;
  padding: 10px 20px;
  color: #ffffff;
  opacity: 1;
}

/* section 3 */
.section2 {
  margin-top: 60px;
}
.section2-title-container {
  display: grid;
  place-items: center;
}
.section2-title {
  text-align: center;
  font-size: 2.8rem;
  width: 700px;
}
.section2-title-black {
  font-size: 2.8rem;
  display: inline;
  color: #000000;
}
.section2-parent {
  overflow: hidden;
}
.section2-cards {
  overflow-x: scroll;
  margin-top: 3rem;
}
.section2-card {
  background-color: #f6f6f6;
  box-shadow: 0px 5px 5px #00000029;
  border: 1px solid #707070;
  border-radius: 53px;
  padding: 20px 20px 30px 20px;
  align-content: space-between;
  gap: 15px 0px;
  margin-right: 50px;
}
.section2-card > img {
  width: 357px;
  height: 220px;
}
.section2-card > h4 {
  color: #e13431;
}
.section2-card > p {
  text-align: center;
  color: #101010;
  font-weight: 300;
}

/* section 3 */
.section3 {
  margin-top: 60px;
}
.section3-title-container {
  display: grid;
  place-items: center;
}
.section5 {
  background-color: #f6f6f6;
  /* height: 200px; */
}
.reviews {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 6rem;
}
.review1,
.review2,
.review3 {
  width: 400px;
}
.review-desc {
  width: 400px;
  line-height: 1.4;
}
.reviews-images {
  height: 250px;
  width: 250px;
}
.space {
  margin-top: 50px;
}
.owner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.partners-logo {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.partners-logo > img {
  height: 190px;
  width: 190px;
}
.carousel-dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.carousel-dot:hover {
  background-color: red;
}
.statics-desc {
  width: 300px;
  line-height: 1.4rem;
  font-weight: 400;
}

.footer {
  background-color: #e13431;
  height: 100px;
  color: #ffffff;
  font-size: 35px;
  display: grid;
  place-items: center;
}
.section4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 40px;
  margin-top: 2.5rem;
}
.salad-img {
  width: 400px;
  height: 200px;
}
.teppan-img {
  width: 400px;
  height: 200px;
}
/* media queries */

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .bg {
    width: 100%;
    height: 25vh;

    background-color: #e13331;
  }
  .logo {
    display: grid;
    place-items: center;
  }
  .logo > img {
    width: 55px;
    height: 48px;
  }
  .heading-container {
    bottom: 0;
    width: 206px;
    margin: auto;
    margin-top: 12px;
  }
  .heading-container > h1 {
    font-size: 14px;
    text-align: center;
  }

  .tablet-container {
    margin-bottom: 60px;
  }
  .tablet {
    width: 100%;
  }
  .section {
    flex-direction: column-reverse;
    margin-top: 4vh;
  }
  .form,
  .form-container {
    width: 100%;
    height: 100%;
  }
  .submit-btn-container {
    display: flex;
    justify-content: center;
  }
  .section2-title {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    color: #ffffff !important;
  }
  .section2-title-black {
    font-size: 1.3rem;
  }
  .section2-card > img {
    height: 161px;
  }
  .partners-logo > img {
    height: 52px;
    width: 52px;
  }
  .review1,
  .review2,
  .review3 {
    width: 200px;
  }
  .review-desc {
    width: 100%;
    line-height: 1.4;
    font-size: 8px;
  }
  .reviews-images {
    width: 83px;
    height: 98px;
  }
  .owner-info {
    font-size: 8px;
  }
}
