* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
video::-webkit-media-controls {
  /* visibility: hidden; */
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
body {
  overflow: auto;
  font-family: "Proxima Nova", "Inter";
}
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.bg {
  width: 100%;
  height: 69vh;
  background-color: #e13331;

  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sub-container {
  padding: 40px 0;
  padding-bottom: 0;

  flex-direction: column;
  row-gap: 20px;
}
.sub-container-div {
  width: 90%;
  margin: auto;
}

.logo > img {
  width: 12vh;
  height: 10vh;
  width: 238px;
  height: 207px;
}

.button {
  background-color: red;
}

.heading-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 15vh;
}
.heading-container > h1 {
  width: 514px;
  font-size: 2.2rem;
  line-height: 1.4;
  color: #ffffff;
}
/* section */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 1vh; */
}
.tablet {
  width: 85vh;
  height: 50vh;
}

/* form */
.form-container {
  background-color: #ffffff;
  z-index: 1;
  box-shadow: inset 0px 3px 6px #00000029, 10px 10px 10px #00000029;
  opacity: 0.84;
  margin-right: 2rem;
  position: relative;
  bottom: 5vh;
  /* padding: 20px; */
}
.form {
  width: 550px;
  height: 45vh;
  display: grid;
  place-items: center;
  padding: 25px;
  padding-bottom: 10px;
}
/* .form > input {
  width: 90%;
  height: 50px;
  text-align: center;
  border: 1px solid #707070;
  color: #888282;
  font-weight: 400;
  font-size: 16px;
} */
.submit-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.submit-btn {
  border: none;
  background: #e13431;
  padding: 10px 20px;
  color: #ffffff;
  opacity: 1;
}
/* form */
.input-control {
  width: 100%;
  background-color: #ffffff;
}
.input-control > input {
  width: 100%;
  height: 50px;
  text-align: center;
  border: 1px solid #707070;
  color: #888282;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
}

/* section 3 */
.statistics-text {
}
.section2 {
  margin-top: 60px;
}
.section2-title-container {
  display: grid;
  place-items: center;
}
/* .section2-title {
  text-align: center;
  font-size: 2.8rem;
  width: 700px;
} */
.section2-title-black {
  font-size: 2.8rem;
  display: inline;
  color: #000000;
}
.section2-parent {
  overflow: hidden;
  width: 81%;
  margin: auto;
}
.section2-cards {
  overflow-x: scroll;
  margin-top: 3rem;
}
.section2-card {
  background-color: #f6f6f6;
  box-shadow: 0px 5px 5px #00000029;
  border: 1px solid #707070;
  border-radius: 53px;
  padding: 20px 20px 30px 20px;
  align-content: space-between;
  gap: 15px 0px;
  margin-right: 50px;
}
.section2-card > img {
  width: 357px;
  height: 220px;
}
.section2-card > div > h4 {
  color: #e13431;
}
.section2-card > div > p {
  text-align: center;
  color: #101010;
  font-weight: 300;
}

/* section 3 */
.section3 {
  margin-top: 60px;
}
.section3-title-container {
  display: grid;
  place-items: center;
}
.section5 {
  background-color: #f6f6f6;
  /* height: 200px; */
}
.reviews {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 6rem;
}
.review1,
.review2,
.review3 {
  width: 400px;
}
.review-desc {
  width: 400px;
  line-height: 1.4;
}
.reviews-images {
  height: 250px;
  width: 250px;
}
.space {
  margin-top: 50px;
}
.owner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.partners-logo {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.partners-logo > img {
  height: 190px;
  width: 190px;
}
.carousel-dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.carousel-dot:hover {
  background-color: red;
}
.statics-desc {
  width: 300px;
  line-height: 1.4rem;
  font-weight: 400;
}

.footer {
  background-color: #e13431;
  height: 100px;
  color: #ffffff;
  font-size: 35px;
  display: grid;
  place-items: center;
}
.section4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 40px;
  margin-top: 2.5rem;
}
.salad-img {
  width: 400px;
  height: 170px;
}
.teppan-img {
  width: 450px;
  height: 250px;
}
.teppan-text {
  font-size: 2rem;
  width: 400px;
  text-align: center;
}
.salad-text {
  font-size: 2rem;
}
.cust-exp > img {
  height: 300px !important;
  width: 200px !important;
}
/* media queries */

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .container {
    /* overflow-x: hidden; */
  }
  .sub-container {
    padding-top: 20px;
  }
  .bg {
    width: 100%;
    height: 19.7vh;

    background-color: #e13331;
  }
  .logo {
    display: grid;
    place-items: center;
  }
  .logo > img {
    width: 55px;
    height: 48px;
  }
  .heading-container {
    bottom: 0;
    width: 206px;
    margin: auto;
    margin-top: 12px;
  }
  .heading-container > h1 {
    font-size: 14px;
    text-align: center;
  }

  .tablet-container {
    /* margin-bottom: 60px; */
  }
  .tablet {
    width: 286px;
    height: 182px;
  }
  .section {
    flex-direction: column-reverse;
    margin-top: 7.5vh;
    row-gap: 10px;
  }

  .form,
  .form-container {
    width: 266px;
    height: 237px;
    margin: auto;
  }
  .input-control > input {
    width: 100%;
    height: 33px;
    text-align: center;
    border: 1px solid #707070;
    color: #888282;
    font-weight: 400;
    font-size: 10px;
    background-color: #ffffff;
  }
  .primary-btn {
    padding: 5px 10px !important;
    font-size: 9px;
  }

  .statistics-text > h1 {
    font-size: 20px !important;
    margin-bottom: 0.5rem !important;
  }
  .statistics-text > h6 {
    font-size: 10px !important;
    width: 100px;
  }

  .section2 {
    margin-top: 20px;
  }
  .section2-cards {
    margin-top: 0px;
  }
  .statics-desc {
    line-height: normal;
  }

  .vl {
    height: 50px !important;
  }

  .section2-card {
    width: 100%;
    height: 134px;
    border: 0.30000001192092896px solid #707070;
    border-radius: 6px;
    flex-direction: row !important;
    flex-shrink: 0;
  }
  .carousel-dot-container {
    margin-bottom: 0px !important;
  }
  .carousel-dot {
    width: 6px;
    height: 6px;
  }
  .section2-card > div > h4 {
    font-size: 13px;
  }
  .section2-card > div > p {
    font-size: 12px;
  }
  .section2-title {
    width: 238px;
    font-size: 20px;
    text-align: center;
  }
  .section2-title-black {
    font-size: 20px;
  }
  .section2-card > img {
    width: 120px;
    height: 96px;
  }
  .partners-logo > img {
    height: 52px;
    width: 52px;
  }

  .section3 {
    margin-top: 10px;
    margin-bottom: 0rem !important;
  }
  .section4 {
    /* grid-template-columns: repeat(2, 151px); */
    margin-top: 0;
    row-gap: 10px !important;
    margin-top: 1.3rem;
    margin-bottom: 2rem !important;
  }
  .video-container {
    width: 151px;
    height: 151px;
    margin: auto;
  }
  .salad-img {
    width: 127px;
    height: 56px;
    margin: auto;
  }
  .teppan-img {
    width: 105px;
    height: 88px;
    margin: auto;
  }
  .teppan-text,
  .salad-text {
    font-size: 10px;
    width: 163px;
    line-height: normal !important;
  }
  .salad-container {
    row-gap: 10px !important;
  }
  .statistics-container {
    /* flex-direction: column; */
    padding: 0px !important;
    margin-bottom: 1.7rem;
  }
  .section2-parent {
    width: 100%;
  }
  .partners-logo {
    margin-bottom: 2rem;
  }
  .demo-btn {
    padding-bottom: 0.7rem !important;
  }
  .reviews {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    margin-bottom: 3rem;
    padding-top: 1rem;
  }
  .review1,
  .review2,
  .review3 {
    width: 100%;
  }
  .review-desc {
    width: 275px;
    line-height: normal;
    font-size: 11px;
  }
  .reviews-images {
    width: 134px;
    height: 127px;
  }
  .owner-info {
    font-size: 13px;
  }
  .footer {
    height: 48px;
  }
  .footer > div > h4 {
    font-size: 10px !important;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .video-container {
    width: 131px;
    height: 131px;
    margin: auto;
  }
  .salad-img {
    width: 107px;
    height: 46px;
    margin: auto;
  }
  .teppan-img {
    width: 85px;
    height: 68px;
    margin: auto;
  }
  .teppan-text,
  .salad-text {
    font-size: 10px;
    width: 143px;
    line-height: normal !important;
  }
  .bg {
    height: 26vh;
  }
  .heading-container > h1 {
    font-size: 11px;
  }
  .review1,
  .review2,
  .review3 {
    width: 100%;
  }
}

.d-flex {
  display: flex;
}
.c-flex {
  display: flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}

.center {
  display: grid;
  place-items: center;
}
.row-gap-10 {
  row-gap: 10px;
}
.row-gap-20 {
  row-gap: 20px;
}
.row-gap-30 {
  row-gap: 30px;
}
.row-gap-40 {
  row-gap: 40px;
}
/* colors */
.red-text {
  color: #e13431;
}
.black-text {
  color: black;
}
.primary-btn {
  background-color: #e13431;
  color: #ffffff;
  padding: 13px 30px;

  border: none;
  letter-spacing: 1.5px;
}

.vl {
  border-left: 1px solid #707070;
  height: 100px;
}

.text-center {
  text-align: center;
}

/* line height */
.lh-3 {
  line-height: 3.4rem;
}

/* width */
.w-80 {
  width: 80%;
}
